*{
    padding: 0px;
    margin: 0px;
}

body{
    text-align: center;
    font-family: 'Corbel', sans-serif;
}

a{
    text-decoration: none;
}

.container{
    width: 80%;
    margin: 0 auto;   
}

.btn{
    color: #57b8dd;
    background-color: #dddddd;
    padding: 10px;
    margin: 5px;
    border-radius: 10px;
    border: none;
}

.btn:hover{
    background-color: #d1d1d1;
}

